<app-page-header
    pageTitle="Compras"
    [breadcrumbItems]="[
        {name: 'Inicio', path: ''},
        {name: 'Compras'}
    ]"
></app-page-header>

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="page-widget">
				<button routerLink="/purchases/new" class="btn btn-sm btn-success">
					<div>
						<i class="fas fa-plus me-2"></i>
						<span>Nueva compra</span>
					</div>
				</button>

				<app-table tableType="purchases">
					<thead>
						<tr>
							<th>ID</th>
							<th>Fecha</th>
							<th>Proveedor</th>
							<th>Descripción</th>
							<th>Total Mercancía (USD)</th>
							<th>Comisiones (USD)</th>
							<th>Costo de Envío (USD)</th>
							<th>Gastos de Importación (USD)</th>
							<th>Total (USD)</th>
							<th>Total (MXN)</th>
							<th>Detalles</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let purchase of purchases">
							<td>{{ purchase.Id }}</td>
							<td>{{ purchase.Date | date: 'd/MM/yyyy' }}</td>
							<td>{{ purchase.Supplier }}</td>
							<td>{{ purchase.Description }}</td>
							<td>{{ purchase.GoodsCostMXN | currency }}</td>
							<td>{{ purchase.CommissionMXN | currency }}</td>
							<td>{{ purchase.ShippingCostMXN | currency }}</td>
							<td>{{ purchase.ImportCostMXN | currency }}</td>
							<td>{{ purchase.TotalUSD | currency }}</td>
							<td>{{ purchase.TotalMXN | currency }}</td>
							<td>
								<button class="btn btn-sm btn-secondary" [routerLink]="[purchase.Id]"><span>Detalles</span></button>
							</td>
							<td>
								<div class="d-flex justify-content-center">
									<a title="Editar" [routerLink]="[purchase.Id, 'edit']" class="btn-action"><i class="fas fa-edit"></i></a>
								</div>
							</td>
						</tr>
					</tbody>
				</app-table>
			</div>
		</div>
	</div>
</div>
