<app-page-header
    pageTitle="Products"
    [breadcrumbItems]="[
        {name: 'Home', path: ''},
        {name: 'Products'}
    ]"
></app-page-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-widget">
                <a routerLink="/products/new">
                    <button class="btn btn-sm btn-success">
							  <div>
									<i class="fas fa-plus me-2"></i>
									<span>Add product</span>
							  </div>
                    </button>
                </a>

                <app-table tableType="products">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>Quantity in stock</th>
                            <!-- <th>Costo promedio (USD)</th>
                            <th>Costo promedio (MXN)</th> -->
                            <th>Recommended price</th>
                            <th>Variants</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{ product.Id }}</td>
                            <td>{{ product.Description }}</td>
                            <td>{{ product.InStock }}</td>
                            <!-- <td></td>
                            <td></td> -->
                            <td>{{ product.RecommendedPrice | currency }}</td>
                            <td>
                                {{ product.Variants.length }}
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <a title="Edit" [routerLink]="[product.Id, 'edit']" class="btn-action"><i class="fas fa-edit"></i></a>
                                    <button title="Delete" (click)="openModal(product)" class="btn-transparent btn-action"><i class="fas fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </app-table>
            </div>
        </div>
    </div>
</div>
