<app-page-header
	pageTitle="Order Details - #{{ orderId }}"
	backUrl="/orders"
	[breadcrumbItems]="[
		{ name: 'Home', path: '' },
		{ name: 'Sales', path: '/orders' },
		{ name: 'Details' }
	]"
></app-page-header>

<div class="container-fluid">
	<div class="row">
		<div class="col-8">
			<div class="page-widget">
				<div class="d-flex justify-content-between align-items-start">
					<h5 class="page-widget-title">General Information</h5>
					<span class="badge rounded-pill bg-success">Completed</span>
				</div>

				<hr class="mt-0" />

				<div class="mb-2">
					<b class="me-2">Date:</b>
					<span>{{ order.Date | date: "dd/MM/YYYY" }}</span>
				</div>
				<div class="mb-2">
					<b class="me-2">Platform:</b>
					<span>{{ order.Platform }}</span>
				</div>
				<div class="mb-2">
					<b class="me-2">Client:</b>
					<span>{{ order.Client }}</span>
				</div>
				<div class="mb-2">
					<b class="me-2">Payment method:</b>
					<span>?</span>
				</div>

					<button [routerLink]="['/orders', order.Id, 'edit']" class="btn btn-sm btn-secondary mt-2"><span>Edit Order</span></button>
			</div>

			<div class="page-widget">
				<h5 class="page-widget-title">Order Details</h5>
				<table class="table table-hover">
					<thead class="table-light">
						<tr>
							<th>Quantity</th>
							<th>Product</th>
							<th>Variant</th>
							<th>Unit Price</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let detail of order.OrderDetails">
							<td>{{ detail.Quantity }}</td>
							<td>{{ detail.Product.Description }}</td>
							<td>{{ detail.ProductVariant.Description }}</td>
							<td>{{ detail.UnitPrice | currency }}</td>
							<td>{{ detail.TotalPrice | currency }}</td>
						</tr>
						<tr class="fw-bold table-light">
							<td colspan="4">TOTAL</td>
							<td>{{ order.Total | currency }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-4">
			<div class="page-widget">
				<h5 class="page-widget-title">Summary</h5>
				<hr class="mt-0" />
				<table class="table table-hover">
					<tbody>
						<tr>
							<td>Subtotal</td>
							<td>{{ order.Subtotal | currency }}</td>
						</tr>
						<tr>
							<td>IVA (tax)</td>
							<td>{{ order.IVA | currency }}</td>
						</tr>
						<tr class="table-light fw-bold">
							<th>Total</th>
							<td>{{ order.Total | currency }}</td>
						</tr>
						<tr>
							<td class="ps-4">(-) Commission</td>
							<td class="text-danger">
								- {{ order.Commission | currency }}
							</td>
						</tr>
						<tr>
							<td class="ps-4">(-) Shipping Cost</td>
							<td class="text-danger">
								- {{ order.ShippingCost | currency }}
							</td>
						</tr>
						<tr>
							<td class="ps-4">(-) IVA Withholding</td>
							<td class="text-danger">
								- {{ order.IVAWithholding | currency }}
							</td>
						</tr>
						<tr>
							<td class="ps-4">(-) ISR Withholding</td>
							<td class="text-danger">
								- {{ order.ISRWithholding | currency }}
							</td>
						</tr>
						<tr class="table-light fw-bold">
							<th>Revenue</th>
							<td class="text-success">
								{{ order.Revenue | currency }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
